// out: rules.css

@import 'base';

.container {
  padding: 0 16px
}

ol.rules {
  width: 750px;
  padding: 25px;
  margin:auto;
  counter-reset: li;
  font-weight: 400;

  li {
    height: 48px;
    position: relative;
    list-style: none;
    line-height: 48px;
    padding: 8px;
    padding-left: 56px;
    border-bottom: solid 2px rgba(237, 112, 108, 0.5);

    &:last-child {
      border: unset
    }

    &::before {
      content: counter(li);
      counter-increment: li;
      display: block;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background-color: #ed706c;
      position: absolute;
      left: 0;
      text-align: center;
      line-height: 48px;
      color: #fff
    }

    &.selected {
      background-color: #f8e287
    }

    hr {
      height: 1px;
      width: 100%;
      background-color: #fbdbda;
      border: 0;
      margin: 0;
      padding: 0
    }
  }
}
